<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tf.persistence.MemberMapper">
	<resultMap id="memberResultMap" type="com.tf.domain.Member">
		<id column="EMAIL" property="email" />
		<result column="NICKNAME" property="nickname" />
		<result column="AGE" property="age" />
		<result column="GENDER" property="gender" />
		<result column="REPRESENTATIVE_PHOTO" property="representativePhoto" />
		<result column="SELFINTRODUCTION" property="selfintroduction" />
		<result column="RESTRICTION_COUNT" property="restrictionCount" />
		<result column="PASSWORD" property="password" />
	</resultMap>
	

	<select id="select" parameterType="com.tf.domain.Member"
		resultType="com.tf.domain.Member">
		SELECT
		EMAIL as email,
		NICKNAME as nickname,
		AGE as age,
		GENDER as gender,
		REPRESENTATIVE_PHOTO as representativePhoto,
		SELFINTRODUCTION as selfintroduction,
		RESTRICTION_COUNT as restrictionCount,
		PASSWORD as password
		FROM MEMBER
		<where>
			<if test="email != null and email != ''">
				AND EMAIL = #{email}
			</if>
			<if test="password != null and password != ''">
				AND PASSWORD = #{password}
			</if>
		</where>
	</select>
</mapper>