<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tf.persistence.PhotoMapper">
	<resultMap id="uriResultMap" type="com.tf.domain.Photo">
		<id column="NO" property="email" />
		<result column="PINPOINT_NO" property="pinpointNo" />
		<result column="URI" property="uri" />
	</resultMap>

	<select id="list" parameterType="int"
		resultType="com.tf.domain.Photo">
		SELECT
			NO as no,
			PINPOINT_NO as pinpointNo,
			URI as uri
			FROM PHOTO
		WHERE
			PINPOINT_NO = #{pinpointNo}
	</select>

	<select id="select" parameterType="com.tf.domain.Photo"
		resultType="com.tf.domain.Photo">
		SELECT
		NO as no,
		PINPOINT_NO as pinpointNo,
		URI as uri
		FROM PHOTO
		<where>
			<if test="no != null and no != ''">
				AND NO = #{no}
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.tf.domain.Photo">
		INSERT INTO PHOTO
			(NO, PINPOINT_NO, URI)
		VALUES
			( #{no}, #{pinpointNo}, #{uri})
	</insert>
	
	<update id="update" parameterType="com.tf.domain.Photo" >
		UPDATE PHOTO
		<set>
		    <if test="uri != '' and uri != null">
		        URI = #{uri},
		    </if>
		</set>
		WHERE 
		    NO = #{no}
	</update>
	
	<update id="delete" parameterType="int">
		DELETE FROM PHOTO
		WHERE NO = #{no}
	</update>
</mapper>