Android/Trafoots/NtiTreeTravelFoots/build.gradle
Android/Trafoots/.idea/misc.xml
Android/Trafoots/.idea/caches/build_file_checksums.ser
Android/Trafoots/build.gradle
Android/Trafoots/NtiTreeTravelFoots/src/main/java/com/travelfoots/ntitreetravelfoots/MainActivity.java
Android/Trafoots/NtiTreeTravelFoots/src/main/AndroidManifest.xml
