<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelfoots.ntitreetravelfoots">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="ACCESS_COARSE_LOCATION"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MypageActivity"
            android:label="@string/app_mypage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyTravelHistoryActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".EditPersonalInformationActivity" />
        <activity android:name=".MyPinpointActivity" />
        <activity android:name=".TravelHistoryActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".PinpointActivity" />
        <activity android:name=".LeaveMemberActivity" />
        <activity android:name=".MyPinpointListActivity" />
        <activity android:name=".MyPinPointDetailActivity" />
        <activity android:name=".MyTravelHistoryListActivity" />
        <activity android:name=".TravelHistoryDetailActivity" />
        <activity android:name=".TravelHistoryListActivity" />
        <activity android:name=".PinpointListActivity" />
        <activity android:name=".MyTravelHisroryDetailActivity" />
        <activity android:name=".PinpointDetailActivity" />
        <activity android:name=".SplashActivity"></activity>
    </application>

</manifest>